Source/SampleClient/Web References/localhost/SoapHeadersSample.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://WCFExtras/Samples" elementFormDefault="qualified" targetNamespace="http://WCFExtras/Samples" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="In">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Header">
    <xs:sequence>
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Header" nillable="true" type="tns:Header" />
  <xs:element name="MyHeader" nillable="true" type="tns:Header" />
  <xs:element name="InResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Out">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OutResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InOut">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InOutResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>